.wrapper{
    width: 100%;
.select{
    width: 100%;
    padding: 3px;
}
.parent{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
  .left{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid rgb(84, 24, 132);
    .heading{
        font-size: 21px;
        color: #541884;
    }
    .subheading{
        font-size: 18px;
        color: #541884;
    }
    .typeList{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 20px;
            row-gap: 20px;
            padding-block: 20px;

            .listItem:hover{
                background-color: rgb(84, 24, 132);
                cursor: pointer;
                color: white;
            }
       .listItem{
        display: flex;
    padding: 8px;
    padding-block: 13px;
    width: 160px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    background-color: #fff;
    color: #541884;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid rgb(84, 24, 132);
  
    .mat-icon{
        user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    overflow: hidden;
    }
       }
    }
  }

  .right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    height: 100%;
    padding-inline: 2rem;
    text-align: center;

    .submitButton{
        border-radius: 20px;
        cursor: pointer;
    }
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        color: #541884;
    }
  }
}
}