.count{
    display: inline-block;
    height: 36px;
    width: 36px;
    background:  linear-gradient(135deg, #79236B, #1C5BA2) !important;
    color: white;
    border-radius: 18px;
    padding: 1px;
}
.heading{
    margin-right: 16px;
    font-size: 16px;
    color: #541884;
}
.question{
    width: 100%;
}
.survey-type{
    margin-bottom: 10px;
}